{% extends 'astromap/base.html' %}
{% block content %}
<div class="container-xxl">
	<h1>Освоение Луны и межпланетные миссии</h1>
	
	<!-- button trigger modal -->
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal0"> 0
	</button>

	<!-- modal -->
	<div class="modal fade" id="modal0" tabindex="-1" aria-labelledby="modal0-label" aria-hidden="true">
		<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="modal0-label">1966 год: Первая мягкая посадка на Луну ("Луна-9")</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
				</div>
				<div class="modal-body">
					...
				</div>
			</div>
		</div>
	</div>
	
	<!-- button trigger modal -->
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1"> 1
	</button>

	<!-- modal -->
	<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1-label" aria-hidden="true">
		<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="modal1-label">1966 год: Первый искусственный спутник Луны ("Луна-10")</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
				</div>
				<div class="modal-body">
					...
				</div>
			</div>
		</div>
	</div>
	
	<!-- button trigger modal -->
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal2"> 2
	</button>

	<!-- modal -->
	<div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modal2-label" aria-hidden="true">
		<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="modal2-label">1970 год: Первый луноход ("Луноход-1")</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
				</div>
				<div class="modal-body">
					...
				</div>
			</div>
		</div>
	</div>
	
	<!-- button trigger modal -->
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal3"> 3
	</button>

	<!-- modal -->
	<div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="modal3-label" aria-hidden="true">
		<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="modal3-label">1971 год: Первая посадка на Марс ("Марс-3")</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
				</div>
				<div class="modal-body">
					...
				</div>
			</div>
		</div>
	</div>
	
	<a class="btn btn-primary" href="{% url 'group2_view' %}">Вернуться</a>
	<a class="btn btn-primary" href="{% url 'group4_view' %}">Продолжить</a>
</div>
{% endblock %}
