{% extends 'astromap/base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block content %}
<div id="carouselExample" class="carousel slide">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<div class="container">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title text-secondary-emphasis p-1">1. От самолётов к ракетам</h3>
						<p class="card-text">
							Эта группа посвящена истокам космонавтики — тому, как человечество перешло от мечтаний о
							полётах к созданию первых ракет. Здесь вы найдёте ключевые этапы развития ракетной техники,
							начиная с теоретических работ пионеров космонавтики и заканчивая первыми практическими
							шагами в создании ракет.
						</p>
						<!-- button trigger modal00 -->
						<button type="button" class="btn btn-secondary" data-bs-toggle="modal"
							data-bs-target="#modal00">
							Вперёд
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="container">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title text-secondary-emphasis p-1">2. Начало космической эры</h3>
						<p class="card-text">
							Эта группа посвящена первым шагам человечества в космос. Здесь собраны ключевые события,
							которые ознаменовали начало космической эры и доказали, что освоение космоса — это не просто
							мечта, а реальность. От запуска первого искусственного спутника Земли до первых исследований
							Луны — эти достижения стали фундаментом для дальнейшего развития космонавтики и вдохновили
							весь мир на новые открытия.
						</p>
						<!-- button trigger modal10 -->
						<button type="button" class="btn btn-secondary" data-bs-toggle="modal"
							data-bs-target="#modal10">
							Вперёд
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="container">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title text-secondary-emphasis p-1">3. Первые пилотируемые полёты</h3>
						<p class="card-text">
							Эта группа посвящена самым важным моментам в истории пилотируемой космонавтики. Здесь вы
							узнаете о первых людях, которые отправились в космос, и о тех, кто доказал, что человек
							может не только выживать, но и работать в условиях невесомости. Эти полёты стали настоящим
							прорывом, открыв новую эру — эру человеческого присутствия в космосе.
						</p>
						<!-- button trigger modal20 -->
						<button type="button" class="btn btn-secondary" data-bs-toggle="modal"
							data-bs-target="#modal20">
							Вперёд
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="container">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title text-secondary-emphasis p-1">4. Освоение Луны и межпланетные миссии</h3>
						<p class="card-text">
							Эта группа посвящена первым шагам человечества в исследовании других небесных тел. Здесь
							собраны ключевые достижения, связанные с изучением Луны и планет Солнечной системы. От
							первых снимков лунной поверхности до посадки на Марс — эти миссии расширили наши знания о
							космосе и доказали, что человечество способно исследовать не только Землю, но и далёкие
							миры.
						</p>
						<!-- button trigger modal30 -->
						<button type="button" class="btn btn-secondary" data-bs-toggle="modal"
							data-bs-target="#modal30">
							Вперёд
						</button>

					</div>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="container">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title text-secondary-emphasis p-1">5. Создание орбитальных станций</h3>
						<p class="card-text">
							Эта группа посвящена развитию долговременных орбитальных станций, которые
							стали важным этапом в освоении космоса. Здесь вы узнаете о первых шагах в создании станций,
							где человек может жить и работать в космосе на протяжении длительного времени. Эти проекты
							не только расширили наши возможности для научных исследований, но и заложили основу для
							международного сотрудничества в космосе.
						</p>
						<!-- button trigger modal40 -->
						<button type="button" class="btn btn-secondary" data-bs-toggle="modal"
							data-bs-target="#modal40">
							Вперёд
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="container">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title text-secondary-emphasis p-1">6. Современные достижения</h3>
						<p class="card-text">
							Эта группа посвящена ключевым событиям и проектам российской космонавтики в XXI веке. Здесь
							собраны достижения, которые демонстрируют, как Россия продолжает развивать космические
							технологии, участвует в международных проектах и готовится к новым этапам освоения космоса.
							От работы на Международной космической станции до разработки новых научных миссий — эти
							проекты показывают, что космическая эра продолжается.
						</p>
						<!-- button trigger modal50 -->
						<button type="button" class="btn btn-secondary" data-bs-toggle="modal"
							data-bs-target="#modal50">
							Вперёд
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
<!-- GROUP 0 -->


<!-- modal -->
<div class="modal fade" id="modal00" tabindex="-1" aria-labelledby="modal00-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal00-label">1903 год: теоретические основы космонавтики</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				В 1903 году русский ученый Константин Эдуардович Циолковский опубликовал свою работу «Исследование
				мировых пространств реактивными приборами». Это стало основой для создания теоретической космонавтики.
				Циолковский предложил использование реактивных двигателей для полетов в космос. Он развил идеи, которые
				позже стали основой для разработки ракетных технологий. Например, он впервые описал принцип работы ракет
				с использованием принципа обратного движения — известного как Закон Циолковского, который гласит, что
				для движения ракеты необходимо выбрасывать массу в противоположном направлении.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-dismiss="modal">Назад</button>
				<button class="btn btn-secondary" data-bs-target="#modal01" data-bs-toggle="modal">Продолжить</button>
			</div>
		</div>
	</div>
</div>

<!-- modal -->
<div class="modal fade" id="modal01" tabindex="-1" aria-labelledby="modal01-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal01-label">1929 год: Первые эксперименты с ракетными
					двигателями</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				В 1929 году в Советском Союзе начались первые эксперименты с жидкостными ракетными двигателями. Эти
				эксперименты проводились под руководством Владимира Федоровича Трантова и группы инженеров и ученых.
				Целью было создать эффективные ракетные двигатели, которые могли бы использоваться для научных и военных
				целей. Первые ракетные установки начали запускаться с наземных площадок, а результаты показали, что
				ракетная тяга может быть значительно увеличена с помощью использования жидких топлив.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-target="#modal00"
					data-bs-toggle="modal">Назад</button>
				<button class="btn btn-secondary" data-bs-target="#modal02" data-bs-toggle="modal">Продолжить</button>
			</div>
		</div>
	</div>
</div>

<!-- modal -->
<div class="modal fade" id="modal02" tabindex="-1" aria-labelledby="modal02-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal02-label">1933 год: Первая советская жидкостная ракета
					(ГИРД-09)</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				В 1933 году была создана первая советская жидкостная ракета — ГИРД-09. Этот проект был разработан в
				рамках Государственного института реактивного движения (ГИРД). Ракета использовала жидкое топливо и
				представляла собой одно из первых практических достижений в области создания ракетных двигателей.
				Несмотря на то что ракета не достигла орбиты, успех этого проекта положил основу для будущих ракетных
				разработок и послужил важным шагом на пути к созданию ракет для космических полетов.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-target="#modal01"
					data-bs-toggle="modal">Назад</button>
				<button class="btn btn-secondary" data-bs-target="#modal03" data-bs-toggle="modal">Продолжить</button>
			</div>
		</div>
	</div>
</div>

<!-- modal -->
<div class="modal fade" id="modal03" tabindex="-1" aria-labelledby="modal02-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal03-label">1941–1945 годы: Разработка ракетной техники в годы
					Великой Отечественной войны</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				В годы Великой Отечественной войны разработки ракетной техники приобрели стратегическое значение. Одним
				из главных достижений стало создание реактивных систем залпового огня — таких как знаменитая «Катюша».
				Эти установки были использованы в боях с высокой эффективностью, оказывая решающее воздействие на ход
				войны. Также в этот период началась работа по созданию более мощных ракетных систем, которые в
				дальнейшем стали основой для космических исследований и военных ракетных технологий.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-target="#modal02"
					data-bs-toggle="modal">Назад</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<!-- GROUP 1 -->


<!-- modal -->
<div class="modal fade" id="modal10" tabindex="-1" aria-labelledby="modal10-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal10-label">1957 год: Запуск первого искусственного спутника
					Земли "Спутник-1</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				4 октября 1957 года был произведен запуск первого в мире искусственного спутника — «Спутник-1». Эта
				металлическая сфера диаметром 58 см с четырьмя антеннами стала символом начала космической эры.
				«Спутник-1» облетел Землю за 96 минут, и его запуск вызвал огромный интерес во всем мире. Он начал новую
				эру в освоении космоса и положил начало космическим исследованиям, а также космической гонке между
				Советским Союзом и США.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-dismiss="modal">Назад</button>
				<button class="btn btn-secondary" data-bs-target="#modal11" data-bs-toggle="modal">Продолжить</button>
			</div>
		</div>
	</div>
</div>

<!-- modal -->
<div class="modal fade" id="modal11" tabindex="-1" aria-labelledby="modal11-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal11-label">1957 год: Запуск "Спутника-2" с собакой Лайкой на
					борту</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				3 ноября 1957 года был запущен второй спутник — «Спутник-2», который стал первым космическим аппаратом с
				живым существом на борту. На спутнике находилась собака Лайка, которая стала первым животным, выведенным
				на орбиту. Этот полет, хотя и трагический для Лайки, стал важным шагом в исследовании воздействия
				космических условий на живые организмы, что впоследствии открыло путь для пилотируемых космических
				полетов.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-target="#modal10"
					data-bs-toggle="modal">Назад</button>
				<button class="btn btn-secondary" data-bs-target="#modal12" data-bs-toggle="modal">Продолжить</button>
			</div>
		</div>
	</div>
</div>

<!-- modal -->
<div class="modal fade" id="modal12" tabindex="-1" aria-labelledby="modal12-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal12-label">1959 год: Запуск "Луны-1" — первой станции,
					достигшей второй космической скорости</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				12 января 1959 года был запущен «Луна-1» — первая космическая станция, которая достигла второй
				космической скорости, то есть скорости, необходимой для того, чтобы покинуть орбиту Земли и выйти на
				орбиту вокруг Солнца. Миссия «Луна-1» не только стала первой успешной попыткой вывести аппарат за
				пределы орбиты Земли, но и послужила первым шагом на пути к исследованию Луны и других планет Солнечной
				системы.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-target="#modal11"
					data-bs-toggle="modal">Назад</button>
				<button class="btn btn-secondary" data-bs-target="#modal13" data-bs-toggle="modal">Продолжить</button>
			</div>
		</div>
	</div>
</div>

<!-- modal -->
<div class="modal fade" id="modal13" tabindex="-1" aria-labelledby="modal12-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal13-label">1959 год: Запуск "Луны-3" — первые снимки обратной
					стороны Луны</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				12 января 1959 года был запущен «Луна-1» — первая космическая станция, которая достигла второй
				космической скорости, то есть скорости, необходимой для того, чтобы покинуть орбиту Земли и выйти на
				орбиту вокруг Солнца. Миссия «Луна-1» не только стала первой успешной попыткой вывести аппарат за
				пределы орбиты Земли, но и послужила первым шагом на пути к исследованию Луны и других планет Солнечной
				системы.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-target="#modal12"
					data-bs-toggle="modal">Назад</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<!-- GROUP 2 -->


<!-- modal -->
<div class="modal fade" id="modal20" tabindex="-1" aria-labelledby="modal20-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal20-label">1961 год: Первый полёт человека в космос</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				12 января 1959 года был запущен «Луна-1» — первая космическая станция, которая достигла второй
				космической скорости, то есть скорости, необходимой для того, чтобы покинуть орбиту Земли и выйти на
				орбиту вокруг Солнца. Миссия «Луна-1» не только стала первой успешной попыткой вывести аппарат за
				пределы орбиты Земли, но и послужила первым шагом на пути к исследованию Луны и других планет Солнечной
				системы.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-dismiss="modal">Назад</button>
				<button class="btn btn-secondary" data-bs-target="#modal21" data-bs-toggle="modal">Продолжить</button>
			</div>
		</div>
	</div>
</div>

<!-- modal -->
<div class="modal fade" id="modal21" tabindex="-1" aria-labelledby="modal21-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal21-label">1961 год: Полёт Германа Титова — первый суточный
					полёт в космосе</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				6 августа 1961 года советский космонавт Герман Титов стал вторым человеком, совершившим космический
				полет. Он провел в космосе 25 часов на борту корабля «Восток-2». Это был первый в истории суточный полет
				в космос, что позволило ученым больше узнать о возможностях длительных космических путешествий и о
				влиянии невесомости на человеческий организм.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-target="#modal20"
					data-bs-toggle="modal">Назад</button>
				<button class="btn btn-secondary" data-bs-target="#modal22" data-bs-toggle="modal">Продолжить</button>
			</div>
		</div>
	</div>
</div>

<!-- modal -->
<div class="modal fade" id="modal22" tabindex="-1" aria-labelledby="modal22-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal22-label">1963 год: Первая женщина в космосе</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				6 августа 1961 года советский космонавт Герман Титов стал вторым человеком, совершившим космический
				полет. Он провел в космосе 25 часов на борту корабля «Восток-2». Это был первый в истории суточный полет
				в космос, что позволило ученым больше узнать о возможностях длительных космических путешествий и о
				влиянии невесомости на человеческий организм.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-target="#modal21"
					data-bs-toggle="modal">Назад</button>
				<button class="btn btn-secondary" data-bs-target="#modal23" data-bs-toggle="modal">Продолжить</button>
			</div>
		</div>
	</div>
</div>

<!-- modal -->
<div class="modal fade" id="modal23" tabindex="-1" aria-labelledby="modal22-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal23-label">1964 год: Первый многоместный космический корабль
					"Восход-1"</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				12 октября 1964 года был осуществлен полет первого многоместного космического корабля «Восход-1». На
				борту находилось три человека: Валерий Быковский, Евгений Хрунов и Всеволод Толбухин. Это был первый
				полет в истории, в котором участвовали не два, а сразу три космонавта. Полет продолжался 1 день и 2
				часа.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-target="#modal22"
					data-bs-toggle="modal">Назад</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<!-- GROUP 3 -->


<!-- modal -->
<div class="modal fade" id="modal30" tabindex="-1" aria-labelledby="modal30-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal30-label">1966 год: Первая мягкая посадка на Луну ("Луна-9")
				</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				12 октября 1964 года был осуществлен полет первого многоместного космического корабля «Восход-1». На
				борту находилось три человека: Валерий Быковский, Евгений Хрунов и Всеволод Толбухин. Это был первый
				полет в истории, в котором участвовали не два, а сразу три космонавта. Полет продолжался 1 день и 2
				часа.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-dismiss="modal">Назад</button>
				<button class="btn btn-secondary" data-bs-target="#modal31" data-bs-toggle="modal">Продолжить</button>
			</div>
		</div>
	</div>
</div>

<!-- modal -->
<div class="modal fade" id="modal31" tabindex="-1" aria-labelledby="modal31-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal31-label">1966 год: Первый искусственный спутник Луны
					("Луна-10")</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				31 марта 1966 года «Луна-10» стала первым искусственным спутником Луны. Станция вышла на орбиту вокруг
				Луны и отправляла данные о ее магнитном поле и составе поверхности. Этот аппарат стал первым
				искусственным объектом, который облетел Луну и позволил получить уникальную информацию о ее природе.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-target="#modal30"
					data-bs-toggle="modal">Назад</button>
				<button class="btn btn-secondary" data-bs-target="#modal32" data-bs-toggle="modal">Продолжить</button>
			</div>
		</div>
	</div>
</div>

<!-- modal -->
<div class="modal fade" id="modal32" tabindex="-1" aria-labelledby="modal32-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal32-label">1970 год: Первый луноход ("Луноход-1")</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				17 ноября 1970 года был запущен «Луноход-1» — первый в мире мобильный робот, который отправился на Луну.
				Этот луноход, весивший 756 кг, передвигался по поверхности Луны и проводил эксперименты, а также
				передавал изображения с Луны на Землю. «Луноход-1» стал первым большим шагом к освоению Луны и
				использованию роботов для исследования других планет.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-target="#modal31"
					data-bs-toggle="modal">Назад</button>
				<button class="btn btn-secondary" data-bs-target="#modal33" data-bs-toggle="modal">Продолжить</button>
			</div>
		</div>
	</div>
</div>

<!-- modal -->
<div class="modal fade" id="modal33" tabindex="-1" aria-labelledby="modal32-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal33-label">1971 год: Первая посадка на Марс ("Марс-3")</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				31 марта 1966 года «Луна-10» стала первым искусственным спутником Луны. Станция вышла на орбиту вокруг
				Луны и отправляла данные о ее магнитном поле и составе поверхности. Этот аппарат стал первым
				искусственным объектом, который облетел Луну и позволил получить уникальную информацию о ее природе.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-target="#modal32"
					data-bs-toggle="modal">Назад</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<!-- GROUP 4 -->


<!-- modal -->
<div class="modal fade" id="modal40" tabindex="-1" aria-labelledby="modal40-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal40-label">1971 год: Запуск первой орбитальной станции "Салют-1"
				</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				В 1971 году Советский Союз сделал важный шаг в освоении космоса, запустив первую орбитальную станцию
				«Салют-1». Этот запуск ознаменовал начало эры долговременных орбитальных обитаемых станций. «Салют-1»
				представлял собой самостоятельный комплекс, предназначенный для проведения научных экспериментов в
				условиях невесомости, а также для испытаний систем жизнеобеспечения, необходимых для длительного
				пребывания человека в космосе. Благодаря этой станции ученые получили возможность изучать влияние
				космической среды на организм человека, проводить эксперименты в области физики, медицины и
				материаловедения. Запуск «Салют-1» стал отправной точкой для дальнейшего развития орбитальной техники,
				что в конечном итоге привело к созданию более сложных и модульных орбитальных комплексов. Этот успех
				вдохновил инженеров и ученых на новые разработки, позволив заложить основы для будущих космических
				станций, которые обеспечивают непрерывное присутствие человека в космосе.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-dismiss="modal">Назад</button>
				<button class="btn btn-secondary" data-bs-target="#modal41"
					data-bs-toggle="modal">Продолжить</button>
			</div>
		</div>
	</div>
</div>

<!-- modal -->
<div class="modal fade" id="modal41" tabindex="-1" aria-labelledby="modal41-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal41-label">1971 год: Первая посадка на Марс ("Марс-3")</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				2 декабря 1971 года советская автоматическая станция "Марс-3" совершила первую в истории мягкую посадку
				на поверхность Марса. Это стало настоящим прорывом в исследовании Красной планеты. После успешного
				спуска аппарат начал передачу данных, включая изображения с поверхности. К сожалению, связь прервалась
				через 14,5 секунд, и учёные получили лишь частичную информацию. Тем не менее, "Марс-3" доказал, что
				посадка на Марс возможна, и заложил основу для будущих миссий. Этот проект стал важным шагом в изучении
				Марса, открыв путь для новых исследований атмосферы, грунта и климата планеты. Достижение "Марса-3"
				остаётся яркой страницей в истории космонавтики.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-target="#modal40"
					data-bs-toggle="modal">Назад</button>
				<button class="btn btn-secondary" data-bs-target="#modal42" data-bs-toggle="modal">Продолжить</button>
			</div>
		</div>
	</div>
</div>

<!-- modal -->
<div class="modal fade" id="modal42" tabindex="-1" aria-labelledby="modal42-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal42-label">1986 год: Запуск станции "Мир"</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				В 1971 году Советский Союз сделал важный шаг в освоении космоса, запустив первую орбитальную станцию
				«Салют-1». Этот запуск ознаменовал начало эры долговременных орбитальных обитаемых станций. «Салют-1»
				представлял собой самостоятельный комплекс, предназначенный для проведения научных экспериментов в
				условиях невесомости, а также для испытаний систем жизнеобеспечения, необходимых для длительного
				пребывания человека в космосе. Благодаря этой станции ученые получили возможность изучать влияние
				космической среды на организм человека, проводить эксперименты в области физики, медицины и
				материаловедения. Запуск «Салют-1» стал отправной точкой для дальнейшего развития орбитальной техники,
				что в конечном итоге привело к созданию более сложных и модульных орбитальных комплексов. Этот успех
				вдохновил инженеров и ученых на новые разработки, позволив заложить основы для будущих космических
				станций, которые обеспечивают непрерывное присутствие человека в космосе.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-target="#modal41"
					data-bs-toggle="modal">Назад</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<!-- GROUP 5 -->


<!-- modal -->
<div class="modal fade" id="modal50" tabindex="-1" aria-labelledby="modal50-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal50-label">2000 год: Начало работы Международной космической
					станции (МКС)</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				В 1971 году Советский Союз сделал важный шаг в освоении космоса, запустив первую орбитальную станцию
				«Салют-1». Этот запуск ознаменовал начало эры долговременных орбитальных обитаемых станций. «Салют-1»
				представлял собой самостоятельный комплекс, предназначенный для проведения научных экспериментов в
				условиях невесомости, а также для испытаний систем жизнеобеспечения, необходимых для длительного
				пребывания человека в космосе. Благодаря этой станции ученые получили возможность изучать влияние
				космической среды на организм человека, проводить эксперименты в области физики, медицины и
				материаловедения. Запуск «Салют-1» стал отправной точкой для дальнейшего развития орбитальной техники,
				что в конечном итоге привело к созданию более сложных и модульных орбитальных комплексов. Этот успех
				вдохновил инженеров и ученых на новые разработки, позволив заложить основы для будущих космических
				станций, которые обеспечивают непрерывное присутствие человека в космосе.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-dismiss="modal">Назад</button>
				<button class="btn btn-secondary" data-bs-target="#modal51" data-bs-toggle="modal">Продолжить</button>
			</div>
		</div>
	</div>
</div>

<!-- modal -->
<div class="modal fade" id="modal51" tabindex="-1" aria-labelledby="modal41-label" aria-hidden="true">
	<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal51-label">2020 год: Запуск модуля "Наука" для МКС</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				В 1971 году Советский Союз сделал важный шаг в освоении космоса, запустив первую орбитальную станцию
				«Салют-1». Этот запуск ознаменовал начало эры долговременных орбитальных обитаемых станций. «Салют-1»
				представлял собой самостоятельный комплекс, предназначенный для проведения научных экспериментов в
				условиях невесомости, а также для испытаний систем жизнеобеспечения, необходимых для длительного
				пребывания человека в космосе. Благодаря этой станции ученые получили возможность изучать влияние
				космической среды на организм человека, проводить эксперименты в области физики, медицины и
				материаловедения. Запуск «Салют-1» стал отправной точкой для дальнейшего развития орбитальной техники,
				что в конечном итоге привело к созданию более сложных и модульных орбитальных комплексов. Этот успех
				вдохновил инженеров и ученых на новые разработки, позволив заложить основы для будущих космических
				станций, которые обеспечивают непрерывное присутствие человека в космосе.
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-target="#modal50"
					data-bs-toggle="modal">Назад</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
